* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: url('assets/fondo.png') no-repeat center center; /* Imagen de fondo centrada */
    background-size: cover; /* Ajusta el tamaño de la imagen de fondo para cubrir horizontalmente */
    color: #fff; /* Texto blanco */
    position: relative;
    min-height: 100vh; /* Asegura que el cuerpo cubra toda la altura de la ventana */
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Fondo oscuro superpuesto */
    z-index: -1;
}

header {
    background-color: rgba(51, 51, 51, 0.9); /* Fondo gris oscuro con transparencia */
    color: white;
    padding: 1rem 2rem;
    position: relative;
    z-index: 1; /* Asegura que el header esté por encima del fondo oscuro */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.nav-links {
    list-style: none;
    display: flex;
    transition: max-height 0.5s ease-in-out;
    overflow: hidden;
    max-height: 0;
}

.nav-links li {
    margin: 0 1rem;
}

.nav-links a {
    text-decoration: none;
    color: white; /* Texto blanco */
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #dff1e0; /* Texto hover verde claro */
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

@media (max-width: 768px) {
    .nav-links {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background-color: rgba(51, 51, 51, 0.9); /* Fondo gris oscuro con transparencia */
        max-height: 0;
        transition: max-height 0.5s ease-in-out;
    }

    .nav-links.active {
        max-height: 300px; /* Ajusta este valor según la cantidad de elementos */
    }

    .burger {
        display: block;
    }
}

.presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: calc(100vh - 60px); /* Ajusta la altura para ocupar toda la pantalla menos la altura del header */
    margin: auto;
    position: relative;
    z-index: 1; /* Asegura que el contenido de la presentación esté por encima del fondo oscuro */
    flex-direction: column; /* Asegura que el h1 esté arriba y el p abajo */
}

.presentation-content {
    max-width: 600px; /* Ajusta el ancho máximo del contenido */
}

.presentation h1 {
    font-family: 'Dancing Script', cursive; /* Similar a la fuente de la tarjeta */
    font-size: 3.5rem; /* Aumenta el tamaño de la letra */
    font-weight: bold; /* Hace la letra más gruesa */
    color: #fff; /* Texto blanco */
    margin-bottom: 1rem;
}

.presentation p {
    font-size: 1.5rem; /* Aumenta el tamaño de la letra */
    color: #fff; /* Texto blanco */
    margin: 0;
}

/* Animación de la hamburguesa */
.burger.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.burger.toggle .line2 {
    opacity: 0;
}

.burger.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

@media (min-width: 769px) {
    .nav-links {
        display: flex !important; /* Asegura que los enlaces de navegación se muestren en pantallas más grandes */
        flex-direction: row;
        position: static;
        max-height: none;
    }
}
